
<div class="oj-hybrid-applayout-page">
  <div class="oj-applayout-fixed-top">
    <header role="banner" class="oj-hybrid-applayout-header" data-bind="ojModule: headerConfig">
    </header>
  </div>

  <div id="bg">
  <img src="css/images/loginBG.png" alt="">
</div>
  <div class="oj-applayout-content">
    <div role="main" class="oj-hybrid-applayout-content">
      <div class="oj-hybrid-padding">
        <h1>Dashboard Content Area</h1>
  <div>
      <div class="oj-flex-item">
        <label for="text-input">Username</label>
        <input id="text-input" type="text" data-bind="ojComponent: {component: 'ojInputText', value: username}"/>

      </div>
      <div class="oj-flex-item">
        <label for="password">Password</label>
        <input type="password" id="password" data-bind="ojComponent: {component: 'ojInputPassword', value: password}"/>
      </div>
      <div class="oj-flex-item">
        <input id="inputButton" type="button" data-bind="click: login, ojComponent: {component: 'ojButton', label: 'Login', chroming: 'full'}"/>
      </div>
  </div>

      </div>
    </div>


  </div>
</div>

