/* 
    Document   : override
    Created on : <date>
    Author     : <author>
    Description:
        This is where any of your application specific styles should be included
*/

/* Hides the content area until we are ready to display after paddings have been adjusted. 
    oj-complete is a marker class that is applied by the appController 
    after adjusting the content area. */
.oj-applayout-content:not(.oj-complete) {
  visibility: hidden;
}


.loginBG{
  background: url("images/loginNew.png");
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
}

.loginBG .oj-form-layout{
  border:none !important;
}

.loginBG input{
  color: white;
  text-align: center;
}


.demo-logo-icon{
  max-width: 350px;
  width: 62%;
  text-align: center;
  margin: 0 auto;
  margin-top: 40%;
  margin-bottom: 10%;
  content:url("images/logoIcon.png");
}

/*PC*/
@media screen and (min-width:960px){
  .demo-logo-icon{
    max-width: 350px;
    width: 80%;
    text-align: center;
    margin: 0 auto;
    margin-top: 15%;
    margin-bottom: 10%;
    content:url("images/logoIcon.png");
  }
}



.no-border{
  border:none !important;
}

.leftIt{
  text-align: left !important;
}

oj-input-text{
  border-bottom:1px solid #f9f9f9;
}

oj-input-password{
  border-bottom:1px solid #f9f9f9;
}

.oj-user-icon{
  content:url("images/userIcon.png");
  width: 45px;
  display: inline-block;
}

.oj-pass-icon{
  content:url("images/passIcon.png");
  width: 45px;
  display: inline-block;
}

#form-container{
  position: absolute;
  bottom: 100px;
  width: 100%;
}

#form-container .oj-form-layout .oj-form .oj-flex{
  margin: 10px 0px 0px 0px;
}

#form-container .oj-form-layout .oj-form .oj-flex:nth-child(0){

}


#form-container .oj-form-layout .oj-form .oj-flex:last-child{
  margin: 40px 0px 0px 0px;
}


.no-border label{
  font-size: 18px;
  font-weight: 300;
  line-height: 25px;
}

#loginBtn{
  width: 283px;
  background-color: white;;
  border-radius: 10px;
  display: block;
  margin: 0 auto;
}

#loginBtn .oj-button-text{
  color:rgb(53, 138, 245);
}

.oj-button.oj-default.oj-button-half-chrome .oj-button-icon, .oj-button.oj-focus-only.oj-button-half-chrome .oj-button-icon {
  color: white;
}

/* customizing - Prudential */
.top-nav-wrapper {
    padding: 15px 25px;
    background-color: #002661;
    border-bottom: 1px solid #003879;
    color: #fff;
    font-size: 14px;
    text-align: left;
}
.oj-hybrid-applayout-header {
/*    background-color: #005baa;*/
/*    opacity: 0.95;*/
    background-color: #02549a;

}
.oj-hybrid-applayout-header-title {
    color: #ffffff;
    text-align: center;
}
.pru-nav {
    background-color: #002661;
}
.oj-contrast-marker a.oj-navigationlist-item-content .oj-navigationlist-item-label {
    color: #ffffff;
}
.oj-contrast-marker .oj-hover:not(.oj-selected) > a.oj-navigationlist-item-content > .oj-navigationlist-item-label {
    color: #ffffff;
}
.oj-contrast-marker .oj-navigationlist-vertical .oj-navigationlist-item.oj-selected {
    background-color: #005baa;
}
.pru-nav-item {
    padding: 15px 15px 15px 30px;
/*    display: block;*/
    color: #ffffff;
}
.pru-nav-item :active {
    background-color: #005baa;
}
.float-button {
    position: fixed;
    right: 10px;
    top: 320px;
    z-index: 1;
    border: none;
    border-radius: 50%;
    width: 80px;
    height: 80px;
}
.chat-icon {
    height: 60px;
    width: 60px;
    margin: 0 !important;
}
.chat-icon::before {
    height: 57px;
    width: 60px;
    content: '';
    background: url(images/chat_icon.svg);
    background-size: 60px;
}